/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/
/* 1. Main Layout ================================= */
* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-family: helvetica, arial, sans-serif;
}

h1 {
	position: relative;
	text-align: left;
	font-size: 10vw;
	font-weight: 700;
	color: #006435;
    letter-spacing: 2.5px;
    
	span {
		display: inline-block;
	}
    
    strong {
       font-size: 13vw;
    }
    
    em {
        font-size: 13vw;
        letter-spacing: -4px;
    }
}

h2 {
	position: relative;
	text-align: left;
    float: left;
	font-size: 4vw;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	letter-spacing: 6px;

	span {
		display: inline-block;
	}
    
    strong {
        font-size: 6vw;
        letter-spacing: 1px;
    }
    
    em {
	    font-size: 3.2vw;
        letter-spacing: 1px;
    }

}

h3 {
	position: relative;
	text-align: left;
	font-size: 2.5vw;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
    white-space: nowrap;

	span {
		display: inline-block;
	}
    
    strong {
        font-size: 2.8vw;
        letter-spacing: 4px;
        white-space: normal;
    }
    
    em {
        font-size: 2.8vw;
        letter-spacing: 9px;  
    }
}

h4 {
    position: relative;
    text-align: left;
    font-size: 3vw;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
    line-height: 1.5;
}

.slabtext {
    color: white;
    line-height: .9;

    &.payCount {
        color: #006435;
    }
}

/* 2. Content ================================= */

header {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;

}

.intro {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
	overflow: hidden;
    
    img {
        position: absolute;
        left: 0%;
    }


	.mask {
		position: absolute;
		left: -70%;
		// height: 100vh;
  //   	width: 100vh;
  //   	border-radius: 100vh 0 0 100vh;
  // 		// background: #9e978e;
  // 		background: black;
		display: inline-block;
  		animation-name: mask;
  		animation-duration: 5s;
  		animation-fill-mode: forwards; 
  		width: 0px;
		height: 0px;
		border-right: 80vw solid black;
		border-top: 50vh solid black;
		border-left: 50vh solid transparent;
		border-bottom: 50vh solid black;
	}
    
    .textBox {
        display: inline-block;
        background: #000;
        position: absolute;
        top: 35%;
        left: 35%;
        width: auto;
        float: left;
        z-index: 1;
    }
}

@keyframes mask {
  100% { width: 0; left: 100%; }
}

.coffee {
    position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.tea {
	position: relative;
	height: 100vh;
    width: 100%;
    background: black;
    
    .textBox {
        display: inline-block;
        position: relative;
        top: 15%;
        left: 15%;
        float: left;
    }

    .imageContainer {
        position: absolute;
        top: 0%;
    	height: 100vh;
        width: 100%;
    	display: flex;
    	align-items: flex-end;
    	justify-content: space-between;
        z-index: 0;
    }

    img {

    	&:nth-child(1), &:nth-child(11) {
    		width: 6vw;
    	}
    	&:nth-child(2), &:nth-child(10) {
    		width: 7vw;
    	} 
    	&:nth-child(3), &:nth-child(9) {
    		width: 8vw;
    	} 
    	&:nth-child(4), &:nth-child(8) {
    		width: 9vw;
    	} 
    	&:nth-child(5), &:nth-child(7) {
    		width: 10vw;
    	} 
    	&:nth-child(6) {
    		width: 11vw;
    	}
    }

}

#tea {
    position: absolute;
    top: 35%;
}

.good {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../img/coffee.png) no-repeat center center fixed;
    background-size: cover;

    .textBox {
        display: inline-block;
        position: absolute;
        top: 15%;
        left: 5%;
        width: 32vw;
        height: auto;
        float: left;
    }

    .textBox2 {
        display: inline-block;
        position: absolute;
        top: 35%;
        left: 10%;
        width: 32vw;
        height: auto;
        float: left;
    }
}

.veterans {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
	overflow: hidden;
    
    .textBox {
        display: inline-block;
        position: relative;
        top: 45%;
        width: 55vw;
        float: left;
        
        img {
            position: relative;
            top: -14px;
            width: 20vw;
            float: left;
        }
    }
    
    .imageContainer {
    	display: flex;
        width: 25.5vw;
    	align-items: flex-end;
    	justify-content: space-between;
    	overflow: hidden;
        
        img {
            width: 3vw;
        }
    }
    
    .textBox2 {
        display: inline-flex;
        flex-direction: column;
    	position: relative;
        top: 52%;
        float: left;
    }
}

#veterans {
    position: absolute;
    top: 30%;
}
.college {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
    overflow: hidden;
    
    .textBox  {
        display: inline-block;
        position: relative;
        top: 45%;
        width: 35vw;
        float: left;
    }
    
    .textBox2 {
        display: inline-flex;
        flex-direction: column;
    	position: relative;
        top: 52.5%;
        float: left;
    }
    
    img {
        position: relative;
        top: 52.5%;
        display: inline-block;
        float: left;
        width: 10vw
    }
}

.jobs {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
    
    .textBox  {
        display: inline-block;
        position: relative;
        top: 35%;
        width: 40vw;
        float: left;
    }
    
    .textBox2 {
        display: inline-flex;
        flex-direction: column;
    	position: relative;
        top: 45%;
        float: left;
    }
    
    img {
        position: relative;
        top: 52%;
        display: inline-block;
        float: left;
        width: 10vw
    }
}

.trees {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
    
    .textBox  {
        display: inline-block;
        position: relative;
        top: 20%;
        width: 58vw;
        float: left;
        z-index: 1;
    }
    
    img, object, svg {
        display: inline-block;
        right: 0%;
        bottom: 0%;
        position: absolute;
        z-index: 0;
        width: 50vw;
    }
}

#trees {
    position: absolute;
}

#trigger1 {
    position: absolute;
    top: 45%;
}

#pin1 {
    height: 200px;
}

.trees2 {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
    overflow: hidden;
}

.farms {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
    
    .textBox  {
        display: inline-block;
        position: relative;
        margin-top: 5%;
        width: 100%;
    }
    
    .imageContainer {
        position: absolute;
        top: 0%;
    	height: 100vh;
        width: 100%;
    	display: flex;
    	align-items: flex-end;
    	justify-content: space-between;
        
        img {
            height: 6vw;
        }
        
        .tractor {
            height: 7vw;
        }
    }
}

#farms {
    position: absolute;
    top: 50%;
}

.farms2 {
    position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.pay {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
    
    #textBox  {
        display: inline-block;
        position: relative;
        top: 35%;
        left: 5%;
        width: 26vw;
        float: left;
        height: auto;
    }
    
    img {
        width: 12vw;
    }
    
    .flipcup {
        position: relative;
        width: 12vw;
        float: left;
        top: 50%;
        left: 5%;
    }
    
    .circle {
        position: absolute;
        top: 30%;
        left: 30%;
        border-radius: 50%;
	    width: 5vw;
	    height: 5vw;
        background: #000;
        z-index: 1;
    }
}

#pay {
    position: absolute;
    top: 25%;
}

// @media only screen and (min-width: 320px) {
//     .intro {
//         height: 50vh;
//         img {
//             left: -4%;
//         }
        
//         .textBox {
//             top: 40%;
//             left: 0%;
//             width: 100vw;
//         }
//     }

//     .coffee {
//         height: 50vh;
//     }

//     .tea {
//         height: 50vh;
        
//         .textBox {
//             top: 25%;
//             left: 15%;
//         }

//         .imageContainer {
//             height: 50vh;
//         }

//         img {

//             &:nth-child(1), &:nth-child(11) {
//                 display: none;
//             }
//             &:nth-child(2) {
//                 display: none;
//             }
//             &:nth-child(10) {
//                 width: 7vw;
//             } 
//         }

//     }

//     #tea {
//         position: absolute;
//         top: 0%;
//     }

//     .good {
//         position: relative;
//         height: 50vh;
//         width: 100vw;
//         background: url(../img/coffee.png) no-repeat center center fixed;
//         background-size: cover;

//         .textBox {
//             display: inline-block;
//             position: absolute;
//             top: 15%;
//             left: 5%;
//             width: 32vw;
//             height: auto;
//             float: left;
//         }

//         .textBox2 {
//             display: inline-block;
//             position: absolute;
//             top: 35%;
//             left: 10%;
//             width: 32vw;
//             height: auto;
//             float: left;
//         }
//     }

//     .veterans {
//         height: 50vh;
        
//         .textBox {
//             top: 10%;
//             left: 10%;
//             width: 80vw;
            
//             img {
//                 top: -5px;
//                 width: 20vw;
//             }
//         }
        
//         .imageContainer {
//             width: 30vw;
            
//             img {
//                 width: 3vw;
//             }
//         }
        
//         .textBox2 {
//             top: 20%;
//             left: 25%;
//         }
//     }

//     #veterans {
//         position: absolute;
//         top: 10%;
//     }

//     .college {
//         height: 50vh;
        
//         .textBox  {
//             top: 5%;
//             left: 25%;
//             width: 100vw;
//         }
        
//         .textBox2 {
//             left: 25%;
//             top: 30%;
//         }
        
//         img {
//             top: 10%;
//             width: 13vw;
//         }
//     }

//     .jobs {
//         height: 50vh;
        
//         .textBox  {
//             top: 35%;
//             left: 25%;
//             width: 100vw;
//         }
        
//         .textBox2 {
//             left: 25%;
//             top: 45%;
//         }
//     }

//     .trees {
//         height: 50vh;
        
//         .textBox  {
//             top: 5%;
//             left: 10%;
//             width: 70vw;
//         }
        
//         img, object, svg {
//             right: 30%;
//             width: 60vw;
//         }
//     }

//     #trees {
//         position: absolute;
//         top: 0%;
//     }


//     .trees2 {
//         height: 50vh;
//     }

//     .farms {
//         height: 50vh;
        
//         .textBox  {
//             top: 5%;
//             left: 5%;
//             width: 100%;
//         }
        
//         .imageContainer {
//             height: 50vh;
            
//             img {
//                 height: 8vw;

//                 &:nth-child(0), &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
//                     display: none;
//                 }
//             }
            
//             .tractor {
//                 display: none;
//             }
//         }
//     }

//     #farms {
//         position: absolute;
//         top: -10%;
//     }

//     .farms2 {
//         height: 50vh;
//     }

//     .pay {
//         height: 50vh;
        
//         #textBox  {
//             display: inline-block;
//             position: relative;
//             top: 10%;
//             left: 30%;
//             width: 26vw;
//             float: left;
//             height: auto;
//         }
        
//         img {
//             width: 12vw;
//         }
        
//         .flipcup {
//             position: relative;
//             width: 12vw;
//             float: left;
//             bottom: 0%;
//             left: 0%;
//         }
//     }

//     #pay {
//         position: absolute;
//         top: -50%;
//     }

// }

/*# sourceMappingURL=main.css.map */




















