/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/
/* 1. Main Layout ================================= */
* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-family: helvetica, arial, sans-serif;
}

h1 {
	position: relative;
	text-align: left;
	font-size: 10vw;
	font-weight: 700;
	color: #006435;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    
	span {
		display: inline-block;
	}
    
    strong {
       font-size: 13vw;
    }
    
    em {
        font-size: 13vw;
        letter-spacing: -4px;
    }
}

h2 {
	position: relative;
	text-align: left;
    float: left;
	font-size: 4vw;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	letter-spacing: 6px;

	span {
		display: inline-block;
	}
    
    strong {
        font-size: 6vw;
        letter-spacing: 1px;
    }
    
    em {
	    font-size: 3.2vw;
        letter-spacing: 1px;
    }

}

h3 {
	position: relative;
	text-align: left;
	font-size: 2.5vw;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
    white-space: nowrap;

	span {
		display: inline-block;
	}
    
    strong {
        font-size: 2.8vw;
        letter-spacing: 4px;
        white-space: normal;
    }
    
    em {
        font-size: 2.8vw;
        letter-spacing: 9px;  
    }
}

h4 {
    position: relative;
    text-align: left;
    font-size: 3vw;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
}

h5 {
    position: absolute;
	text-align: left;
	font-size: 10vw;
	font-weight: 700;
	color: #006435;
    letter-spacing: 2.5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    strong {
        top: 45%;
        color: white;
        font-size: 4vw;
        text-transform: uppercase;
        white-space: nowrap;
    }
}

h6 {
    position: relative;
    text-transform: uppercase;
    text-align: left;
    font-size: 10vw;
    font-weight: 700;
    color: #006435;
    letter-spacing: 2.5px;

    span {
        display: inline-block;
    }
}

.slabtext {
    color: white;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;

    &.payCount {
        color: #006435;
        font-weight: 700;
    }
}

/* 2. Content ================================= */

header {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;

}

.intro {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
	overflow: hidden;
    
    img {
        position: absolute;
        left: 0%;
    }


	.mask {
		position: absolute;
		left: -50%;
		// height: 100vh;
  //   	width: 100vh;
  //   	border-radius: 100vh 0 0 100vh;
  // 		// background: #9e978e;
  // 		background: black;
		display: inline-block;
  		width: 0px;
		height: 0px;
		border-right: 80vw solid black;
		border-top: 50vh solid black;
		border-left: 50vh solid transparent;
		border-bottom: 50vh solid black;
	}
    
    .textBox {
        display: inline-block;
        background: #000;
        position: absolute;
        top: 35%;
        left: 35%;
        width: auto;
        float: left;
        z-index: 1;
    }
}

.coffee {
    position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.tea {
	position: relative;
	height: 100vh;
    width: 100%;
    background: black;
    
    .textBox {
        display: inline-block;
        position: relative;
        top: 15%;
        left: 15%;
        float: left;
    }

    .imageContainer {
        position: absolute;
        top: 0%;
    	height: 100vh;
        width: 100%;
    	display: flex;
    	align-items: flex-end;
    	justify-content: space-between;
        z-index: 0;
    }

    img {

    	&:nth-child(1), &:nth-child(11) {
    		width: 6vw;
    	}
    	&:nth-child(2), &:nth-child(10) {
    		width: 7vw;
    	} 
    	&:nth-child(3), &:nth-child(9) {
    		width: 8vw;
    	} 
    	&:nth-child(4), &:nth-child(8) {
    		width: 9vw;
    	} 
    	&:nth-child(5), &:nth-child(7) {
    		width: 10vw;
    	} 
    	&:nth-child(6) {
    		width: 11vw;
    	}
    }

}

#tea {
    position: absolute;
    top: 35%;
}

.good {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../img/coffee.png) no-repeat center center fixed;
    background-size: cover;

    .textBox {
        display: inline-block;
        position: absolute;
        top: 15%;
        left: 5%;
        width: 32vw;
        height: auto;
        float: left;
    }

    .textBox2 {
        display: inline-block;
        position: absolute;
        top: 45%;
        left: 10%;
        width: 32vw;
        height: auto;
        float: left;
    }
}

.veterans {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
	overflow: hidden;
    
    .textBox {
        display: inline-block;
        position: relative;
        top: 45%;
        width: 55vw;
        float: left;
        
        img {
            position: relative;
            top: -14px;
            width: 20vw;
            float: left;
        }
    }
    
    .imageContainer {
    	display: flex;
        width: 25.5vw;
    	align-items: flex-end;
    	justify-content: space-between;
    	overflow: hidden;
        
        img {
            width: 3vw;
        }
    }
    
    .textBox2 {
        display: inline-flex;
        flex-direction: column;
    	position: relative;
        top: 52%;
        float: left;
    }
}

#veterans {
    position: absolute;
    top: 30%;
}
.college {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
    overflow: hidden;
    
    .textBox  {
        display: inline-block;
        position: relative;
        text-align: center;
        top: 10%;
        width: 33vw;
        left: 34%;
    }
    
    img {
        position: relative;
        display: inline-block;
        width: 10vw;
    }
}

#college {
    position: absolute;
    top: 10%;
}


.jobs {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
    
    .textBox  {
        display: inline-block;
        position: relative;
        top: 35%;
        left: 10%;
        width: 40vw;
        float: left;
    }
    
    .textBox2 {
        display: inline-flex;
        flex-direction: column;
    	position: relative;
        top: 45%;
        left: 10%;
        float: left;
    }
    
    img {
        position: relative;
        top: 52%;
        display: inline-block;
        float: left;
        width: 10vw
    }
}

.filler {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../img/starbucks2.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.trees {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;

    
    .textBox  {
        display: inline-block;
        position: relative;
        top: 20%;
        width: 75vw;
        // float: left;
        z-index: 1;
    }
    
    svg {
        display: inline-block;
        right: 1%;
        top: 10%;
        position: absolute;
        width: 25vw;
    }
}

#trees {
    position: absolute;
}

#trigger1 {
    position: absolute;
    top: 45%;
}

#pin1 {
    position: absolute;
    height: 100%;
    z-index: 1;
}

.trees2 {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
    overflow: hidden;
}

.farms {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
    
    .textBox  {
        display: inline-block;
        position: relative;
        margin-top: 5%;
        width: 100%;
    }
    
    .imageContainer {
        position: absolute;
        top: 0%;
    	height: 100vh;
        width: 100%;
    	display: flex;
    	align-items: flex-end;
    	justify-content: space-between;
        
        img {
            height: 6vw;
        }
        
        .tractor {
            height: 7vw;
        }
    }
}

#farms {
    position: absolute;
    top: 30%;
}

.farms2 {
    position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.pay {
	position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
    overflow-x: hidden;
    
    #textBox  {
        display: inline-block;
        position: relative;
        margin-top: 5%;
        margin-left: 5%;
        width: 26vw;
        float: left;
        height: auto;
    }
    
    img {
        width: 12vw;
    }
    
    .flipcup {
        position: relative;
        width: 12vw;
        float: left;
        top: 50%;
    }
    
    .circle {
        position: absolute;
        top: 30%;
        left: 30%;
        border-radius: 50%;
	    width: 5vw;
	    height: 5vw;
        background: #000;
        z-index: 1;
    }
}

#pay {
    position: absolute;
    top: 25%;
}

.thanks {
    position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.name {
    position: relative;
    height: 80%;
    background: url(../img/name2.png) no-repeat center center fixed;
    background-color: #000;
    background-size: contain;
}

.starbucks {
    position: relative;
	background: #000;
	height: 100vh;
	width: 100%;
    overflow-x: hidden;
    
    .text {
        opacity: 0;
    }
    
    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 25vw;
        opacity: 0;
    }
}

#pay {
    position: absolute;
    top: 25%;
}


@media screen and (max-width: 1440px) {
    .pay {
        position: relative;
        background: #000;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        
        #textBox  {
            display: inline-block;
            position: relative;
            margin-top: 10%;
            margin-left: 10%;
            width: 80vw;
            float: left;
            height: auto;
            margin-bottom: 10%;
        }
        
        img {
            width: 20vw;
        }
        
        .flipcup {
            position: relative;
            width: 18vw;
            float: left;
            top: 0%;
            left: 0%;
        }
        
        .circle {
            position: absolute;
            top: 30%;
            left: 30%;
            border-radius: 50%;
            width: 8vw;
            height: 8vw;
            background: #000;
            z-index: 1;
        }
    }

    #pay {
        position: absolute;
        top: 0%;
    }


}


@media screen and (max-width: 745px) {
    .thanks, .name {
        display: none;
    }
    h1 {
        position: relative;
        text-align: left;
        font-size: 35vw;
        font-weight: 700;
        color: #006435;
        letter-spacing: 2.5px;
    
        span {
            display: inline-block;
        }
        
        strong {
           font-size: 20vw;
        }
        
        em {
            font-size: 30vw;
            letter-spacing: -4px;
        }
    }

    h2 {
        position: relative;
        text-align: center;
        float: none;
        font-size: 16vw;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        letter-spacing: 6px;

        span {
            display: inline-block;
        }
        
        strong {
            font-size: 14vw;
            letter-spacing: 1px;
        }
        
        em {
            font-size: 10vw;
            letter-spacing: 1px;
        }

    }

    h3 {
        position: relative;
        text-align: left;
        font-size: 8vw;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        white-space: nowrap;

        span {
            display: inline-block;
        }
        
        strong {
            font-size: 8vw;
            letter-spacing: 4px;
            white-space: normal;
        }
        
        em {
            font-size: 6vw;
            letter-spacing: 9px;  
        }
    }

    h4 {
        position: relative;
        text-align: left;
        font-size: 10vw;
        font-weight: 700;
        color: white;
        letter-spacing: 1px;
        line-height: 1.5;
    }

    h5 {
        position: absolute;
        text-align: center;
        font-size: 20vw;
        font-weight: 700;
        color: #006435;
        letter-spacing: 2.5px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        strong {
            top: 45%;
            color: white;
            font-size: 6vw;
            text-transform: uppercase;
            white-space: nowrap;
            text-align: left;
        }
    }

    h6 {
        position: relative;
        text-align: left;
        font-size: 16vw;
        font-weight: 700;
        color: #006435;
        letter-spacing: 2.5px;

        span {
            display: inline-block;
        }
    }

    .slabtext {
        color: white;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 500;

        &.payCount {
            color: #006435;
            font-weight: 700;
        }
    }

    .intro {
        position: relative;
        background: #000;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        
        img {
            position: absolute;
            left: 0%;
        }

        .textBox {
            top: 35%;
            left: 0%;
            width: 100%;
            padding-left: 3%;
        }
    }

    .tea {
        position: relative;
        height: 100vh;
        width: 100%;
        background: black;
        
        .textBox {
            display: inline-block;
            position: relative;
            top: 15%;
            left: 0%;
            padding-left: 3%;
            float: left;
        }

        .imageContainer {
            position: absolute;
            top: 0%;
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            z-index: 0;
        }

        img {

            &:nth-child(1), &:nth-child(11) {
                display: none;
            }
            &:nth-child(2), &:nth-child(10) {
                display: none;
            } 
            &:nth-child(3), &:nth-child(9) {
                width: 11vw;
            } 
            &:nth-child(4), &:nth-child(8) {
                width: 12vw;
            } 
            &:nth-child(5), &:nth-child(7) {
                width: 13vw;
            } 
            &:nth-child(6) {
                width: 14vw;
            }
        }

        h2 {
            text-align: left;
        }

    }

    #tea {
        position: absolute;
        top: 35%;
    }

    .good {
        position: relative;
        height: 100vh;
        width: 100%;
        background: url(../img/coffee.png) no-repeat center center;
        background-size: cover;
        overflow: hidden;

        .textBox {
            display: inline-block;
            position: absolute;
            top: 5%;
            left: 5%;
            width: 80vw;
            height: auto;
            float: left;
        }

        .textBox2 {
            display: inline-block;
            position: absolute;
            bottom: 5%;
            left: 10vw;
            width: 70vw;
            height: auto;
            float: left;
        }
    }

    .veterans {
        overflow: hidden;
        
        .textBox {
            display: inline-block;
            position: relative;
            top: 5%;
            width: 100%;
            padding-left: 2%;
            float: left;
            
            img {
                display: inline-block;
                position: relative;
                top: 0px;
                padding-left: 0 40%;
                width: 90vw;
                float: left;
                margin-bottom: 5%;
            }

            h3 {
                position: relative;
                text-align: center;
                font-size: 7vw;
                font-weight: 700;
                color: white;
                text-transform: uppercase;
                letter-spacing: 1px;
                white-space: normal;
            }

            h1 {
                text-align: center;
            }

            h1 strong {
                font-size: 35vw;
            }
        }
        
        .imageContainer {
            display: flex;
            width: 100%;
            align-items: flex-end;
            justify-content: space-around;
            overflow: hidden;
            
            img {
                width: 8vw;
            }
        }
        
        .textBox2 {
            display: inline-flex;
            flex-direction: column;
            position: relative;
            background: #000;
            padding-left: 2%;
            top: 10%;
            float: left;
        }

    }

    #veterans {
        position: absolute;
        top: 30%;
    }

    .college {
        position: relative;
        background: #000;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        
        .textBox  {
            display: inline-block;
            position: relative;
            text-align: center;
            top: 15%;
            width: 100%;
            left: 0%;
            padding-left: 5%;
        }
        
        img {
            position: relative;
            display: inline-block;
            width: 40vw;
            margin-top: 10%;
        }

        h1 {
            
            strong {
               font-size: 35vw;
            }
        }
    }

    #college {
        position: absolute;
        top: 0%;
    }


    .jobs {
        position: relative;
        background: #000;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        
        .textBox  {
            display: inline-block;
            position: relative;
            top: 20%;
            left: 0%;
            padding-left: 5%;
            width: 100%;
            float: left;
        }
        
        .textBox2 {
            display: inline-block;
            flex-direction: column;
            position: relative;
            width: 100%;
            top: 27%;
            left: 0%;
            float: left;
        }
    }

    .filler {
        position: relative;
        height: 100vh;
        width: 100%;
        background: url(../img/starbucks2.jpeg) no-repeat center center;
        background-size: cover;
    }

    .trees {
        position: relative;
        background: #000;
        height: 100vh;
        width: 100%;

        
        .textBox  {
            display: inline-block;
            position: relative;
            top: 45%;
            width: 100%;
            // float: left;
            z-index: 1;
        }
        
        svg {
            display: inline-block;
            right: 30%;
            top: 2%;
            position: absolute;
            width: 40vw;
        }

        h1 strong {
            text-align: center;
        }

        h3 {
            text-align: center;
        }
    }

    #trees {
        position: absolute;
        top: 0%;
    }

    #trigger1 {
        position: absolute;
        top: 45%;
    }

    #pin1 {
        position: absolute;
        height: 100%;
        z-index: 1;
    }

    .trees2 {
        position: relative;
        background: #000;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    .farms {
        position: relative;
        background: #000;
        height: 100vh;
        width: 100%;
        
        .textBox  {
            display: inline-block;
            position: relative;
            margin-top: 5%;
            width: 100%;
        }
        
        .imageContainer {
            position: absolute;
            top: 0%;
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            
            img {
                height: 15vw;

                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(0),  {
                display: none;
                }
            }
            
            .tractor {
                height: 20vw;
            }
        }

        h3, h1 {
            text-align: center;
        }

        h1 {
           font-size: 25vw; 
        }

        h1 strong{
            font-size: 25vw;
        }
    }

    #farms {
        position: absolute;
        top: 0%;
    }

    .farms2 {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .pay {
        position: relative;
        background: #000;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        
        #textBox  {
            display: inline-block;
            position: relative;
            margin-top: 10%;
            margin-left: 10%;
            width: 80vw;
            float: left;
            height: auto;
            margin-bottom: 10%;
        }
        
        img {
            width: 20vw;
        }
        
        .flipcup {
            position: relative;
            width: 18vw;
            float: left;
            top: 0%;
            left: 0%;
        }
        
        .circle {
            position: absolute;
            top: 30%;
            left: 30%;
            border-radius: 50%;
            width: 8vw;
            height: 8vw;
            background: #000;
            z-index: 1;
        }
    }

    #pay {
        position: absolute;
        top: 0%;
    }

    .thanks {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .name {
        position: relative;
        height: 100vh;
        width: 100%;
        background: url(../img/name2.png) no-repeat center center fixed;
        background-size: cover;
    }

    .starbucks {
        position: relative;
        background: #000;
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        
        .text {
            opacity: 0;
        }
        
        .logo {
            width: 60vw;
        }
    }

}

/*# sourceMappingURL=main.css.map */




















